body,dd,dl,form,h1,h2,h3,h4,h5,input,ol,p,select,td,textarea,th,ul{margin:0;padding:0;font-size:14px;font-family:"Microsoft Yahei","宋体",tahoma,Srial,helvetica,sans-serif;}
i{font-style:normal;}
b,strong{font-weight:400;}
li{list-style:none;vertical-align:top;}
a{text-decoration:none;}
img{border:none;vertical-align:top;}
table{border-collapse:collapse;}
input,textarea,select{outline:0;}
textarea{overflow:auto;resize:none;}
.clear{zoom:1;clear: both;}
.clear:after{clear:both;display:block;content:"";}
.fl{float:left;}
.fr{float:right;}
.btns:hover {opacity: 0.8;filter: alpha(opacity=80);}
.top-right .btns:hover{opacity: 1;filter: alpha(opacity=100);} 

.u-path {height: 40px;line-height: 40px;padding-left: 29px;background: url(../images/page1/dingwei_tb.png) no-repeat 10px center;color: #fff;}
.m-content-box {width: 100%;height: 760px;background: #c0def5;border-radius: 4px;margin-top: 10px;position: relative;box-shadow: inset 0 0 20px rgba(255,255,255,1);}
.content {position: absolute;top: -10px;left: 10px;right: 10px;width: auto;bottom: 10px;height: auto;background: #ecf5fa;box-shadow: 0 5px 8px rgba(0,5,0,0.15);border-radius: 4px;border-top-left-radius: 6px;border-top-right-radius: 6px;}
.content .title {
	height: 38px;background: #39adec;border-radius: 4px;box-shadow: 1px 1.732px 18px 0px rgb( 136, 187, 229 );
	background: -moz-linear-gradient(top, #4bbffa 0%, #32b7fa 15%, #508cc0 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4bbffa), color-stop(15%, #32b7fa), color-stop(100%, #508cc0));
	background: -webkit-linear-gradient(top, #4bbffa 0%, #32b7fa 15%, #508cc0 100%);
	background: -o-linear-gradient(top, #4bbffa 0%, #32b7fa 15%, #508cc0 100%);
	background: -ms-linear-gradient(top, #4bbffa 0%, #32b7fa 15%, #508cc0 100%);
	background: linear-gradient(to bottom, #4bbffa 0%, #32b7fa 15%, #508cc0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bbffa', endColorstr='#508cc0', GradientType=0);
}



.list-box {position: relative;height: 100%;color: #fff;}
.list-box .show {padding:0 20px 0 20px;background: url(../images/page1/sx-arr.png) no-repeat right center;line-height: 38px;box-sizing: border-box;cursor: pointer;font-size: 16px;}
.list-box .list {position: absolute;top: 34px;left: 10px;z-index: 99;width: 100%;background: #158ad7;padding: 5px 0;border-radius: 4px;display: none;}
.list-box .list li {padding-left: 10px;line-height: 20px;cursor: pointer;}
.list-box .list li:hover {background: #21c1e1;color: #fff;}

.top-right {color: #fff;margin-top: 7px;margin-right: 10px;}
.top-right .btns {padding: 0 13px;height: 25px;line-height: 25px;border-radius: 4px;background-color: #40c6eb;color: #fff;margin: 0 4px;cursor: pointer;}
.top-right .btn-dc {padding-left: 35px;background:#40c6eb url(../images/page1/btn-dc.png) no-repeat 13px center;}
.top-right .btn-dc:hover{opacity: 0.8;filter: alpha(opacity=80);}
.top-right .btn-ensure:hover{opacity: 0.8;filter: alpha(opacity=80);}
.top-right .list-box {position: relative;height: 25px;color: #fff;}
.top-right .list-box .show {padding:0 15px 0 0;background: url(../images/page1/list-arr.png) no-repeat right center;height: 25px;line-height: 25px;box-sizing: border-box;cursor: pointer;font-size: 14px;}
.top-right .list-box .list {position: absolute;top: 34px;left: 0px;z-index: 99;width: 100%;background: #158ad7;padding: 5px 0;border-radius: 4px;display: none;}
.top-right .list-box .list li {padding-left: 10px;line-height: 20px;cursor: pointer;}
.top-right .list-box .list li:hover {background: #21c1e1;color: #fff;}
.top-right .inp {width: 140px;height: 26px;line-height: 26px;box-sizing: border-box;border: 1px solid #23d0e1;border-radius: 4px;padding-left: 5px;padding-right: 25px;background: transparent url(../images/page1/search-ico2.png) no-repeat 117px center;color: #fff;}
.top-right .result-txt {margin-left: 25px;}
.top-right .btn-ensure {background-color: #12cfdd;}

.info-list-box {padding: 0 10px;}
.info-list-box .info-box {height: 84px;border-bottom:1px dashed #cccccc;}
.info-box .num {line-height: 84px;width: 25px;}
.info-box .pic-box {width: 46px;height: 59px;border:1px solid #e5e5e5;margin-right: 15px;margin-top: 13px;}
.info-box .pic-box img {width: 46px;height: 59px;vertical-align: middle;}
.info-box .detail-info {width: 860px;}
.info-box .rows {line-height: 29px;}
.info-box .row1 {margin-top: 13px;}
.info-box .name {color: #787878;display: inline-block;float: left;}
.info-box .info {color: #555555;display: inline-block;float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.info-box .infoName {color: #16a36c;float: left;width: 102px;}
.info-box .idNum {color: #e4a90a;}
.info-box .info-name {width: 60px;color: #ff3912;} 
.info-box .info-sex {width: 70px;}
.info-box .info-age {width: 85px;}
.info-box .info-mz {width: 110px;}
.info-box .idNum {width: 170px;}
.info-box .info-zy {width: 85px;}
.info-box .info-address {width: 178px;margin-right: 5px;}
.info-box .info-jg {width: 105px;margin-right: 5px;}
.info-box .info-csd {width: 280px;margin-right: 5px;}
.info-box .btn-detail {width: 65px;height: 26px;line-height:24px;color:#fff;cursor: pointer;border-radius: 3px;box-sizing: border-box;border-bottom: 2px solid #f09d1b;padding-left: 28px;
	background: #ffc248 url(../images/page1/detail-ico.png) no-repeat 6px center;margin-top: 32px;}

.pageBox {height: 40px;color: #999999;}
.pageBox .float-sit {float: right;margin-right: 10px;margin-top: 10px;}
.pageBox .liBox {height: 22px;float: left;}
.pageBox .liBox li {float: left;height: 22px;min-width: 22px;box-sizing: border-box;padding: 0 5px;border: 1px solid #cccccc;line-height: 20px;text-align: center;color: #999999;font-size: 12px;margin: 0 2px;cursor: pointer;}
.pageBox .liBox .num.current {color: #fff;background: #1ba0e4;border: none;}
.pageBox .liBox .prev {background: url(../images/page1/prev-arr.png) no-repeat center;}
.pageBox .liBox .next {background: url(../images/page1/next-arr.png) no-repeat center;}
.pageBox .liBox .dot {border: none;}
.pageBox .go-box {float: left;margin-left: 5px;}
.pageBox .inp {width: 50px;height: 20px;line-height: 20px;text-align: center;border: 1px solid #cccccc;}






















